# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

.idea/

.memory/

# Django
db.sqlite3

# Environment Variables
.env

# AI Model Checkpoints
*.pt
*.pth

# Output Images
output/

# OS Files
.DS_Store
Thumbs.db

GroundingDINO/

test_images/

test_fabrics/

fabric_images/

output_tests_fabrics/

ai_models/mediapipe/